@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:ital@0;1&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container{
    /* position: relative; */
    min-width: 100%;
    min-height: 100vh;
}

/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
} */
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* background: #8D3DAF; */
}
.navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 20px;
    margin: 20px;
}
.list-item{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}
.list-item a {
    text-decoration: none;
    color: #000000;
  }
a:focus{
    font-weight: bold;
    /* border-bottom: 2px solid #000000; */
}

.nav-button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #8D3DAF;
    color: #ffffff;
    font-size: 14px;
}
.banner-container{
    display: grid;
    grid-template-columns: 1.3fr 2.5fr;
    /* background-color: aqua; */
    margin: 20px;
    padding: 10px;
}
.banner-left{
    min-width: 50%;
    min-height: 100%;
    /* border: 2px solid black; */
    display: grid;
    place-items: left;
}

h1{
    font-size: 60px;
    /* margin: 20px; */
    /* padding: 20px; */
    color: #221b75;
}

p{
    font-size: 16px;
}

span{
    color: #8D3DAF;
}

.banner-right{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: grid;
    place-items: center;
}

.btn{
    width: 200px;
    height: 50px;
    font-size: 20px;
}

